.dealsTitle
{
    font-size: 32px;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
font-weight: normal;      
}
#dealBox
{
 width:100%;
 height: auto;
 display: grid;
 grid-template-rows: 1fr;
 grid-template-columns: repeat(6,1fr);
 gap: 10px;
}

body{
 margin:100px;
}
.dealImg{
 width:100%;
}
.productCard{
 margin-left: auto;
 margin-right: auto;
 display: block;
}
.divider{
 margin-top: 60px;
 margin-bottom: 60px;
 
}
.categoryShop{
 display: grid;
 grid-template-rows: 1fr 1fr;
 grid-template-columns: repeat(6,1fr);
 height: auto;
 width: auto;
 gap: 8px;
}
.footCategory{
color: #000000;
text-align: center;
font-family: ProximaNova-Semibold,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
font-weight: bold;
line-height: 2;
margin-top: 10px;
}
.threeCards{
 height: auto;
 width: auto;
 display: grid;
 grid-template-rows: 1fr;
 grid-template-columns: repeat(3,1fr);
 gap: 15px;
}

.threec{
 width:100%;
 height: auto;
}
.sixCards{
 height: auto;
 width: auto;
 display: grid;
 grid-template-rows: 1fr;
 grid-template-columns: repeat(6,1fr);
 gap: 15px;
}
#dT{
 font-weight: bolder;
}
.kidFootwear
{
 display: grid;
 grid-template-rows: 1fr;
 grid-template-columns: repeat(4,1fr);
 height: auto;
 gap: 10px;
 line-height: 1.4;
}
.btn
{
 margin-top: 50px;
text-align: center;

}
.btn>input{
 padding: 10px;
 width: 20%;
 background-color: white;
 border: 1px solid grey;
 color: orange;
}